
html {
  border: 1px solid black;
  display:block;
  
}

h1 {
	text-decoration:underline;
	text-align:center;
	color:blue;
}

body {
	text-align:center;
	background-color:lightgrey;
}

ex {
	text-decoration:italic
	
	
}
label {
	text-decoration:underline;
	font-weight:bold
	
}


p {
	text-align:left
}

s-title{
	text-decoration:underline;
	font-weight:bold
	
}

s-titles{
	text-decoration:underline;
	font-size: 95%
	
}

pg{
	font-size:90%
}